extends ./layout/index 

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura 

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p En nuestra agencia de viajes, convertimos sus sueños en realidades inolvidables. Nos especializamos en diseñar experiencias personalizadas, cuidando cada detalle para que solo se preocupe por disfrutar
                p Ofrecemos asesoramiento experto, reservas completas y asistencia 24/7. Colaboramos con los mejores proveedores para garantizar calidad y seguridad en cada destino. Viaje con nosotros y descubra el mundo de manera única.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid") 

        include ./layout/bloqueViajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje Canada 
                        p.fecha 20-Marzo-2024 - 1-Abril-202
                        p.precio 2,500 €
    .container 
        h2.mt-5.text-center Comentarios 
        include ./layout/bloqueComentarios    