extends ./layout/index 

block contenido
    block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Somos una agencia de viajes dedicada a crear experiencias únicas y memorables. Nuestro equipo de expertos trabaja incansablemente para planificar cada detalle de su viaje.

                p Nos enorgullece ofrecer un servicio personalizado, adaptando itinerarios a sus preferencias y necesidades. Colaboramos con proveedores de confianza para garantizar la mejor calidad y seguridad. 

                p Nuestra misión es hacer de cada viaje una aventura inolvidable, brindando asistencia 24/7. Viaje con nosotros y descubra el mundo con la tranquilidad de estar en buenas manos. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nuestro servicio de viajes ofrece seguridad total con proveedores confiables, seguros completos y asistencia 24/7
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Adaptamos los destinos según sus preferencias, intereses y necesidades, garantizando una experiencia de viaje personalizada. 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Ofrecemos opciones flexibles y paquetes variados para ajustarnos a su presupuesto y maximizar su experiencia de viaje.