extends ./layout/index 

block contenido
    block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat quam sit amet magna maximus, sit amet laoreet sapien condimentum. In purus nulla, bibendum vehicula leo sed, sodales imperdiet nibh.

                p Cras maximus magna sit amet pretium vestibulum. Donec suscipit sit amet nulla in posuere. Curabitur justo urna, mollis id pulvinar at, porta quis orci. Pellentesque lobortis tincidunt velit quis condimentum. In hac habitasse platea dictumst. 

                p Aenean eu risus eu lorem rhoncus consectetur in vel sapien. Vestibulum placerat eros id ultricies egestas. Sed ac mauris at elit ultrices tristique. Mauris tortor nulla, elementum quis mi et, tincidunt volutpat purus. Aliquam ac mauris non erat congue vulputate. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed ac mauris at elit ultrices tristique. Mauris tortor nulla, elementum quis mi et, tincidunt volutpat purus. Aliquam ac mauris non erat congue vulputate. 
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Sed ac mauris at elit ultrices tristique. Mauris tortor nulla, elementum quis mi et, tincidunt volutpat purus. Aliquam ac mauris non erat congue vulputate. 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Sed ac mauris at elit ultrices tristique. Mauris tortor nulla, elementum quis mi et, tincidunt volutpat purus. Aliquam ac mauris non erat congue vulputate. 